SECRET_KEY=isi_teks_bebas_untuk_security
GEMINI_API_KEY=MASUKKAN_API_KEY_DISINI

# Konfigurasi Database LOKAL (tanpa docker)
DB_USER=postgres
DB_PASSWORD=password_postgres_kamu_disini
DB_HOST=localhost <-- Perhatikan ini beda dengan Docker
DB_PORT=5432
DB_NAME=telq_recommender_db


# Ini yang untuk konfigurasi Docker
SECRET_KEY=isi_teks_bebas_untuk_security
GEMINI_API_KEY=MASUKKAN_API_KEY_DISINI

# Konfigurasi Database (Untuk Docker)
DB_USER=postgres
DB_PASSWORD=password123
DB_HOST=db
DB_PORT=5432
DB_NAME=telq_recommender_db

# Konfigurasi Model ML
ML_MODEL_PATH=backend/models/telq_model.pkl
ML_COLUMNS_PATH=backend/models/telq_model_columns.pkl