--
-- PostgreSQL database dump
--

\restrict k9Xgk0jfwNaTI4yJq1k3CGXYJrrbTpI3AiUHUKKysTT6HOvZjHKv7mF0vmDZifI

-- Dumped from database version 15.15
-- Dumped by pg_dump version 15.15

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: products; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.products (
    product_id integer NOT NULL,
    product_name character varying(255) NOT NULL,
    price integer NOT NULL,
    duration_days integer NOT NULL,
    data_gb integer NOT NULL,
    streaming_gb_bonus integer DEFAULT 0 NOT NULL,
    gaming_gb_bonus integer DEFAULT 0 NOT NULL,
    social_gb_bonus integer DEFAULT 0 NOT NULL,
    call_minutes_bonus integer DEFAULT 0 NOT NULL,
    sms_bonus integer DEFAULT 0 NOT NULL,
    roaming_days_bonus integer DEFAULT 0 NOT NULL,
    target_offer character varying(50) NOT NULL
);


ALTER TABLE public.products OWNER TO postgres;

--
-- Name: purchase_history; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.purchase_history (
    history_id integer NOT NULL,
    customer_id character varying(50) NOT NULL,
    product_id integer NOT NULL,
    purchase_date timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.purchase_history OWNER TO postgres;

--
-- Name: purchase_history_history_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.purchase_history_history_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.purchase_history_history_id_seq OWNER TO postgres;

--
-- Name: purchase_history_history_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.purchase_history_history_id_seq OWNED BY public.purchase_history.history_id;


--
-- Name: user_features; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_features (
    customer_id character varying(50) NOT NULL,
    plan_type character varying(50) NOT NULL,
    device_brand character varying(50) NOT NULL,
    avg_data_usage_gb double precision NOT NULL,
    pct_video_usage double precision NOT NULL,
    avg_call_duration double precision NOT NULL,
    sms_freq integer NOT NULL,
    monthly_spend double precision NOT NULL,
    topup_freq integer NOT NULL,
    travel_score double precision NOT NULL,
    complain_count integer NOT NULL,
    spending_tier character varying(10) NOT NULL
);


ALTER TABLE public.user_features OWNER TO postgres;

--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    customer_id character varying(50) NOT NULL,
    firstname character varying(100) NOT NULL,
    lastname character varying(100),
    email character varying(100) NOT NULL,
    password_hash character varying(128) NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: purchase_history history_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.purchase_history ALTER COLUMN history_id SET DEFAULT nextval('public.purchase_history_history_id_seq'::regclass);


--
-- Data for Name: products; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: purchase_history; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: user_features; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: purchase_history_history_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.purchase_history_history_id_seq', 71, true);


--
-- Name: products products_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_pkey PRIMARY KEY (product_id);


--
-- Name: purchase_history purchase_history_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.purchase_history
    ADD CONSTRAINT purchase_history_pkey PRIMARY KEY (history_id);


--
-- Name: user_features user_features_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_features
    ADD CONSTRAINT user_features_pkey PRIMARY KEY (customer_id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (customer_id);


--
-- Name: purchase_history purchase_history_customer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.purchase_history
    ADD CONSTRAINT purchase_history_customer_id_fkey FOREIGN KEY (customer_id) REFERENCES public.users(customer_id) ON DELETE CASCADE;


--
-- Name: purchase_history purchase_history_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.purchase_history
    ADD CONSTRAINT purchase_history_product_id_fkey FOREIGN KEY (product_id) REFERENCES public.products(product_id) ON DELETE CASCADE;


--
-- Name: user_features user_features_customer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_features
    ADD CONSTRAINT user_features_customer_id_fkey FOREIGN KEY (customer_id) REFERENCES public.users(customer_id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict k9Xgk0jfwNaTI4yJq1k3CGXYJrrbTpI3AiUHUKKysTT6HOvZjHKv7mF0vmDZifI

